<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormMebelSeller.Properties.Settings.MebelBDConnectionString"
            connectionString="Dsn=bdr;uid=Иван;trusted_connection=Yes;app=Microsoft® Visual Studio® 2015;wsid=HOME;database=MebelBD"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>